.btn-dell {
    display: flex;
    color: #fff;
    background-color: #adaaad;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    text-align: center;
}

.btn-dell:hover, .btn-dell:focus, .btn-dell:active, .btn-dell.active, .open > .dropdown-toggle.btn-dell {
    color: #fff;
    background-color: #ab2836;
    border-color: #ab2836;
}

.btn-edit {
    display: inline-block;
    color: #fff;
    background: rgb(176, 176, 176);
    background: linear-gradient(18deg, rgb(176, 176, 176) 0%, rgb(176, 176, 176) 35%, rgb(176, 176, 176) 100%);
    border-color: #adaaad;
    border-radius: 50%;
    font-size: 0;
    width: 30px;
    height: 30px;
    position: relative;
    transition: background 1.2s !important;
}

.btn-edit > i {
    position: absolute;
    left: 4px;
    top:-1px;
    font-size: 1.26rem
}

.btn-edit:hover, .btn-edit:focus, .btn-edit:active, .btn-edit.active, .open > .dropdown-toggle.btn-edit {
    color: #fff;
    background: rgb(30,152,95);
    background: linear-gradient(18deg, rgba(30,152,95,1) 0%, rgba(25,135,84,1) 35%, rgba(25,135,84,1) 100%);
    border-color: rgb(28, 140, 88);
}

.rub {
    font-family: "rouble";
    font-size: 1rem;
}

.bb-card-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

.product-card__btn-holder{
    margin: 0 !important;
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.product-card__detailes{
    background: rgb(30,152,95);
    background: linear-gradient(18deg, rgba(30,152,95,1) 0%, rgba(25,135,84,1) 35%, rgba(25,135,84,1) 100%);
    color: white;
    transition: background .6s;
    margin-right: 11px !important;
}

.product-card__detailes:hover{
    background: rgb(25,135,84);
    background: linear-gradient(18deg, rgba(25,135,84,1) 0%, rgba(25,135,84,1) 28%, rgba(25,94,62,1) 100%);
    color: white;
}

.bb-product-card-price {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    /*padding-bottom: 10px;*/
    padding-top: 5px;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    border-radius: 15px;
    display: block;
    /*background: rgb(254, 192, 47);*/
    /*background: linear-gradient(162deg, rgba(254, 192, 47, 1) 0%, rgba(254, 161, 47, 1) 68%, rgba(254, 123, 47, 1) 100%);*/
}

.bb-product-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.product-card__like-icon{
    margin-left: 8px;
    color: #d5d5d5 !important;
    font-size: 24px !important;
    cursor: pointer;
}

.product-card__like-icon:hover{
    color: #adadad !important;
}

.product-card__like_active{
    color: rgb(238, 199, 88)!important;
}

.product-card__like_active:hover{
    color: rgb(232, 193, 85) !important;
}





.product-card__shopping-cart{
    color: #d5d5d5 !important;
    font-size: 26px !important;
    margin-top: 1px;
    cursor: pointer;
    margin-left: 8px;
}

.product-card__shopping-cart:hover{
    color: #adadad !important;
}

.product-card__shopping_added{
    color: rgb(238, 199, 88)!important;

}

.product-card__shopping_added:hover{

    color: rgb(232, 193, 85) !important;
}






.bb-price-tag{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 70px;
    width: fit-content;
    border-radius: 35px;
    /*padding: 10px;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-left: -6px;

}

.bb-price-tag-price{
    color: rgb(30,152,95);
    font-size: 20px;
    margin-right: 16px;

}

.bb-price-tag-icon-container{
  min-height: 100%;
    /*background-color: #bb2d3b;*/
    display: flex;
    /*margin-right: 1px;*/
}
