/*Этот css-файл нужен для того чтобы футер прижимался к низу страницы*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer_ {
    flex: 0 0 auto;
    background-color: #198754;
}

.footer-boardburg{
    color: white;
}

.footer-boardburg-icons{
    color: white;
    font-size: 1.5rem;
}




.btn-dell {
    display: flex;
    color: #fff;
    background-color: #adaaad;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    text-align: center;
}

.btn-dell:hover, .btn-dell:focus, .btn-dell:active, .btn-dell.active, .open > .dropdown-toggle.btn-dell {
    color: #fff;
    background-color: #ab2836;
    border-color: #ab2836;
}

.btn-edit {
    display: inline-block;
    color: #fff;
    background: rgb(176, 176, 176);
    background: linear-gradient(18deg, rgb(176, 176, 176) 0%, rgb(176, 176, 176) 35%, rgb(176, 176, 176) 100%);
    border-color: #adaaad;
    border-radius: 50%;
    font-size: 0;
    width: 30px;
    height: 30px;
    position: relative;
    transition: background 1.2s !important;
}

.btn-edit > i {
    position: absolute;
    left: 4px;
    top:-1px;
    font-size: 1.26rem
}

.btn-edit:hover, .btn-edit:focus, .btn-edit:active, .btn-edit.active, .open > .dropdown-toggle.btn-edit {
    color: #fff;
    background: rgb(30,152,95);
    background: linear-gradient(18deg, rgba(30,152,95,1) 0%, rgba(25,135,84,1) 35%, rgba(25,135,84,1) 100%);
    border-color: rgb(28, 140, 88);
}

.rub {
    font-family: "rouble";
    font-size: 0.8rem;
}

.bb-card-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

.product-card__btn-holder{
    margin: 0 !important;
    display:flex;
    width: 100%;
    justify-content: space-between;

}

.product-card__detailes{
    background: rgb(30,152,95);
    background: linear-gradient(18deg, rgba(30,152,95,1) 0%, rgba(25,135,84,1) 35%, rgba(25,135,84,1) 100%);
    color: white;
    transition: background .6s;
}

.product-card__detailes:hover{
    background: rgb(25,135,84);
    background: linear-gradient(18deg, rgba(25,135,84,1) 0%, rgba(25,135,84,1) 28%, rgba(25,94,62,1) 100%);
    color: white;
}

body, html {
    background-color: #24181d !important;
}

body.modal-open {
    overflow: hidden;
}

.header-bg {
    -webkit-align-content: flex-end !important;
    display: flex;
    /*background-repeat: no-repeat;*/
    background-position: bottom;
    background-size: cover;
    min-height: 300px;
    background-attachment: fixed !important;
}

.live-input {
    outline: none;
    background-color: #766d7b;
    transition: background-color .6s;
}

.live-input:focus {
    background-color: #ffffff !important;
}

.live-input::-webkit-input-placeholder {
    color: #ffffff;
}

.live-input::-moz-placeholder {
    color: #ffffff;
}

.bb-filter {
    border: #198754 solid 1px;
    border-radius: 0.25rem;
    background-color: #24181DFF
}

@media (max-width: 992px) {
    .bb-filter {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (max-width: 500px) {
    .bb-filter {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

@media (max-width: 460px) {
    .bb-filter {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

@media (max-width: 460px) {
    .bb-filter {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
        padding: 20px !important;
    }
}

.bb-filter-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
}

@media (max-width: 1200px) {
    .bb-filter-form {
        font-size: 0.9rem;
    }
}

@media (max-width: 460px) {
    .bb-filter-form {
        /*flex-direction: column;*/
        display: block;
    }
}

.bb-filter-form__price-input-group {
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media (max-width: 992px) {
    .bb-filter-form__price-input-group {
        flex-direction: column;
        /*align-items: start;*/
        max-width: 200px !important;
    }
}

@media (max-width: 460px) {
    .bb-filter-form__price-input-group {
        max-width: 230px !important;
        padding: 0px !important;
    }
}


.bb-filter-form__price-input {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    height: 2.4rem;
}

@media (max-width: 1200px) {
    .bb-filter-form__price-input {
        height: 2rem;
    }
}

@media (max-width: 992px) {
    .bb-filter-form__price-input {
        height: 2rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 460px) {
    .bb-filter-form__price-input {
        width: 100%;
        padding: 0px !important;
        margin-right: 0px !important;
    }
}

.bb-filter-form__price-input-key {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    width: 46px;
}

.bb-filter-form__price-input-value {
    border: 0;
    width: 88px;
    padding: 6px 12px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0px;
}

@media (max-width: 1200px) {
    .bb-filter-form__price-input-value {
        max-width: 60px;
    }
}

@media (max-width: 460px) {
    .bb-filter-form__price-input-value {
        max-width: 100%;
        margin-right: 0px;
    }
}

.bb-filter-form__check-group {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .bb-filter-form__check-group {
        margin-right: -60px;
    }
}

@media (max-width: 992px) {
    .bb-filter-form__check-group {
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    .bb-filter-form__check-group {
        margin-left: 35px;
        margin-top: 12px;
        margin-bottom: 20px;
    }
}

.bb-form-check {
}

@media (max-width: 1200px) {
    .bb-form-check {
        padding: 0px;
        margin: 0px;
        margin-left: 26px;
        margin-right: 50px !important;
    }
}

.bb-filter-form__check-input {
    background-color: #198754;
    border-color: #198754;
}


@media (max-width: 1200px) {
    .bb-filter-form__check-input {
    }
}

.bb-filter-form__check-input:checked {
    background-color: #3FC24CFF;
    border-color: #3FC24CFF;
    outline: none !important;
}

.bb-filter-form__check-input:focus {
    outline: none !important;
    border-color: #3FC24CFF;
}

.bb-filter-form__check-input:active {
    outline: none !important;
    border-color: #3FC24CFF;
}

.bb-filter-form__btn {
    height: 2.4rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

@media (max-width: 1200px) {
    .bb-filter-form__btn {
        height: 2rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 8px;
    }
}

@media (max-width: 460px) {
    .bb-filter-form__btn {
        height: 2rem;
        width: 100%;
        padding: 8px;
    }
}

.accordion-button_custom_1 {
    background-color: #766d7b !important;
}

.accordion-button:focus {
    outline: none !important;
}

.accordion-button_custom_1:focus {
    outline: none !important;
}

.bb-inputs-grupper {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border: 1px #ced4da solid;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 576px) {
    .bb-inputs-grupper {
        flex-direction: column;
    }
}

.bb-form-check {
    margin-right: 1.5rem;
    margin-left: 0 !important;
}

.bb-product-card-price {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    /*padding-bottom: 10px;*/
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    border-radius: 15px;
    display: block;
    background: rgb(254, 192, 47);
    background: linear-gradient(162deg, rgba(254, 192, 47, 1) 0%, rgba(254, 161, 47, 1) 68%, rgba(254, 123, 47, 1) 100%);
}

.bb-product-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.modal__close-btn {
    color: #818181;
    transition: color .6s;
}

.modal__close-btn:hover {
    color: #424242;
}

.page-item > a {
    color: rgb(30, 152, 95) !important;
}

.page-item.active .page-link {
    background-color: rgb(30, 152, 95) !important;
    border-color: rgb(30, 152, 95) !important;
}

.card-technical {
    border: #676977 dashed 1px;
}

.navbar__nav {
    color: #ffffff;
    background: rgb(30, 152, 95) !important;
    background: linear-gradient(18deg, rgba(30, 152, 95, 1) 0%, rgba(25, 135, 84, 1) 35%, rgba(38, 193, 121, 1) 100%) !important;
}

.navbar__nav a {
    color: rgba(255, 255, 255, 0.7);
}

.navbar__nav a:hover {
    color: rgb(255, 255, 255);
}

button.navbar-toggler {
    background-color: #1c8c58 !important;
    padding: 0 !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 0 !important;
}

.nav-link:hover, .nav-link:focus {
    color: #a4cbc1;
}

button.navbar-toggler > i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 40px;
    transition: color .5s;
}

button.navbar-toggler > i:hover {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.nav-item {
    background: #187E4FFF !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    padding-left: 5px;
    padding-right: 5px;
}

.ms-auto {
}

@media (max-width: 767px) {
    .ms-auto {
        margin-top: 20px;
        margin-bottom: 6px;
    }
}

.login-inp-button {
    background: none;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    transition: color .6s;
}

.login-inp-button:hover {
    color: rgb(255, 255, 255);
}

.login-modal__btn {
    background: rgb(30, 152, 95);
    background: linear-gradient(18deg, rgba(30, 152, 95, 1) 0%, rgba(25, 135, 84, 1) 35%, rgba(25, 135, 84, 1) 100%);
    color: white;
    transition: background .6s;
}

.login-modal__btn:hover {
    background: rgb(25, 135, 84);
    background: linear-gradient(18deg, rgba(25, 135, 84, 1) 0%, rgba(25, 135, 84, 1) 28%, rgba(25, 94, 62, 1) 100%);
    color: white;
}

.dropdown-item-custom {
    color: rgb(25, 135, 84) !important;
}

.accordion-button-custom {
    background-color: #7e867c;
}

.accordion-button-custom:active {
    background-color: #bce7b3 !important;
    color: #0f5132 !important;
}

.accordion-button-custom:focus {
    background-color: #bce7b3 !important;
    color: #0f5132 !important;
}

.contacts__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black !important;
    background: rgb(222, 169, 22);
    background: linear-gradient(18deg, rgb(222, 169, 22) 0%, rgb(222, 169, 22) 35%, rgb(222, 169, 22) 100%);
    transition: background .9s;
    border-radius: 20px;
    margin: 0 auto;
    height: 40px;
    width: 300px;
    background-color: #ffc107
}

.contacts__btn:hover {
    color: black !important;
    background: rgb(222, 142, 22);
    background: linear-gradient(18deg, rgb(222, 169, 22) 0%, rgb(222, 159, 22) 35%, rgb(222, 142, 22) 100%);
    transition: background .6s;
}


.intro-bb{
    width: 100%;
    padding:20px;
    border-radius: 5px;
    color: #a1907e;
    background-color: #1a0606;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width:690px) {
    .intro-bb {
        flex-direction: column;
    }
}

.intro-bb__select{
    color: #cea382;
    display: inline;
}

.intro-bb__format{
    display: inline;
}

@font-face {
    font-family: "rouble";
    src: url(/fonts/rouble.otf?b5a0c905109bbc63d2ed762255024eab) format("opentype");
}

