/*Этот css-файл нужен для того чтобы футер прижимался к низу страницы*/


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer_ {
    flex: 0 0 auto;
    background-color: #198754;
}

.btn-dell {
    display: flex;
    color: #fff;
    background-color: #053c5e;
    border-color: #053c5e; /*set the color you want here*/
    border-radius: 50%;
    font-size: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.btn-dell > svg {
    min-width: 20px;
    min-height: 20px;
}

.btn-dell:hover, .btn-dell:focus, .btn-dell:active, .btn-dell.active, .open > .dropdown-toggle.btn-dell {
    color: #fff;
    background-color: #ab2836;
    border-color: #ab2836; /*set the color you want here*/
}

.btn-edit {
    display: flex;
    color: #fff;
    background-color: #4d194d;
    border-color: #4d194d; /*set the color you want here*/
    border-radius: 50%;
    font-size: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;

}

.btn-edit > svg {
    min-width: 19px;
    min-height: 19px;
}

.btn-edit:hover, .btn-edit:focus, .btn-edit:active, .btn-edit.active, .open > .dropdown-toggle.btn-edit {
    color: #fff;
    background-color: #006466;
    border-color: #006466; /*set the color you want here*/
}

body, html{
    background-color: #24181d !important;
}

.header-bg {

    -webkit-align-content: flex-end !important;
    display: flex;
    /*background-repeat: no-repeat;*/
    background-position: bottom;
    background-size: cover;
    min-height: 300px;
    background-attachment: fixed !important;
}
.live-input{
    outline:none;
    background-color:#766d7b
}

.live-input:focus{
    background-color:#ffffff !important;
}

.live-input::-webkit-input-placeholder{
    color: #ffffff;
}

.live-input::-moz-placeholder{
    color: #ffffff;
}


.filter-cost-input{
border: 0;
    height: 37px;
    width: 88px;
    padding: 6px 12px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.accordion-button_custom_1{
    background-color: #766d7b !important;
}

.accordion-button:focus{
    outline: none !important;
}

.accordion-button_custom_1:focus{
    outline: none !important;
}

/*@import '~bootstrap-icons/font/bootstrap-icons.css';*/

