.card_bottom{

}

.btn-dell {
    display: flex;
    color: #fff;
    background-color: #053c5e;
    border-color: #053c5e; /*set the color you want here*/
    border-radius: 50%;
    font-size: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;

}

.btn-dell >svg {

   min-width: 20px;
    min-height: 20px;
}
.btn-dell:hover, .btn-dell:focus, .btn-dell:active, .btn-dell.active, .open>.dropdown-toggle.btn-dell {
    color: #fff;
    background-color: #ab2836;
    border-color: #ab2836; /*set the color you want here*/
}








.btn-edit {
    display: flex;
    color: #fff;
    background-color: #4d194d;
    border-color: #4d194d; /*set the color you want here*/
    border-radius: 50%;
    font-size: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;

}

.btn-edit >svg {

    min-width: 19px;
    min-height: 19px;
}
.btn-edit:hover, .btn-edit:focus, .btn-edit:active, .btn-edit.active, .open>.dropdown-toggle.btn-edit {
    color: #fff;
    background-color: #006466;
    border-color: #006466; /*set the color you want here*/
}



/*.form-check-input:active, .form-check-input:active .open>.dropdown-toggle.form-check-input{*/
/*    background-color: #198754 !important;*/
/*    color: #198754 !important;*/
/*}*/


/*.form-check-input:checked{*/
/*    background-color: #198754 !important;*/
/*    color: #198754 !important;*/
/*}*/


/*#flexSwitchCheckChecke3:checked{*/
/*      background-color: #198754 !important;*/
/*      color: #198754 !important;*/
/*  }*/



/*.form-check-input:checked {*/
/*    background-color: #198754 !important;*/
/*    border-color: #198754 !important;*/
/*}*/




/*.btn-edit_{*/
/*    display: flex !important;*/
/*    color: #fff !important;*/
/*    background-color: #ab2836 !important;*/
/*    border-color: #ab2836 !important; !*set the color you want here*!*/
/*    border-radius: 50% !important;*/
/*    font-size: 0 !important;*/
/*    width: 30px !important;*/
/*    height: 30px !important;*/
/*    align-items: center !important;*/
/*    justify-content: center !important;*/
/*}*/

/*.btn-edit_ >svg {*/

/*    min-width: 20px;*/
/*    min-height: 20px;*/
/*}*/


/*.btn-edit_:hover, .btn-edit_:focus, .btn-edit_:active, .btn-edit_.active, .open>.dropdown-toggle.btn-edit_ {*/
/*    color: #fff;*/
/*    background-color: #085e05;*/
/*    border-color: #085e05; !*set the color you want here*!*/
/*}*/
